.carousel, .carousel-inner > .item > img {
    height: 500px;
  }

  .navbar{
    height: 50%;
    font-size: 15px;
    background-color: rgb(182, 215, 250);
  }

  #carouselExampleControls{
    height: 100%;
  }

  .homepage-class{
    text-align: center;
     
  }

  img{
   
     filter: drop-shadow(-1px 100px 100px rgba(50, 50, 0, 0.5));
  }

  .img-homepage{
    
    clip-path: circle(45% at 50% 50%); 
    
  
     
  }

  img.img-homepage{
    height: 530px;
    width: 750px;
  
  }