@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

footer{
    position: fixed;
    z-index: 1;
}
.sidebar {
  z-index: 2;
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #312e04;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #462c06;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}


.sidebar ul a:hover {
  background: #462c06;
  color: #fff;
}

.sidebar ul b{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 20px;
  color: white;
  padding-left: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
    
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #312e04;
  
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 25px;
  top: 17x;
  font-size: 30px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 6px;
  font-size: 30px;
  color: #ffffff;
  padding: 6px 12px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
 /* background: url(bg.jpeg) no-repeat;*/
 
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
  align-content: center;
  justify-content: center;
  display: grid;
}

/*.botones{
    position: fixed;
    top: 30%;
    left: 40%;
    justify-content: center;
    display: grid;
}*/
.btn{
    border: 3px solid #312e04;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background: #312e04;
}

.btn:hover{
    background: #462c06;
    color:#ffffff;
    border: 3px solid #462c06;
    transition: 0.5s;
}


img [class~="Picture_logo"]{
  width: 132px;
  height: 168px;
  clip-path: circle(42.9% at 50% 46%);
}
